@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 225px;
  font-size: 14px;
  font-family: "OpenSans";
}

ul, li {
  list-style: none;
  user-select: none;
}

img.menu-icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

ul.main-menu {
  padding: 5px 0 5px 0;
}

li.menu-separator {
  height: 10px;
  display: flex;
  align-items: center;
}

li.menu-separator hr {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  border: none;
}

li.menu-title {
  color: #666;
}

li.menu-title,
ul.sub-menu li {
  height: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px 0 20px;
}

ul.sub-menu li:hover {
  background-color: #6295f1;
  color: #FFF;
}

ul.sub-menu li div.color-block {
  width: 13px;
  height: 13px;
  margin-right: 8px;
}